$grey-color: #E3D9D5;

.button {
    background-color: $accent-color;
    color: white;
    padding: 0.6em 1.5em;
    border-radius: 0.75rem;
    border-style: solid;
    border-color: $accent-color;
    border-width: 1.5px;
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: normal;
    transition-duration: 0.3s;
    cursor: pointer;
}

.add-dish {
    border: 1px dashed $grey-color;
    background-color: white;
    color: $grey-color;
}

.button-next {
    background-color: white;
    color: $accent-color;
    padding: 0.6em 1.5em;
    border-radius: 0.75rem;
    border-style: solid;
    border-color: $accent-color;
    border-width: 1.5px;
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: normal;
    transition-duration: 0.3s;
    cursor: pointer;
}

.button-next[disabled] {
    opacity: .5;
    pointer-events: none;
    background: white;
    color: #D9D9D9;
    border-color: #D9D9D9;
}

.button[disabled] {
    opacity: .5;
    pointer-events: none;
    background: #D9D9D9;
    color: white;
    border-color: #D9D9D9;
}

.button-back {
    opacity: 1;
}

.button-back[inactive] {
    opacity: .2;
    pointer-events: none;
}

.button:hover {
    background: $accent-color-light;
    border-color: $accent-color-light;
    transition: ease-in-out .3s all;
}

.button-submit:hover {
    background-color: $accent-color-light;
}

.icon-button {
    background: none;
    border: none;
    display: flex;
    padding: 0;
}