$base-color: #FFF7EC;

.hidden {
    display: none !important;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    min-height: 100vh;
}

main {
    display: flex;
    height: 100vh;
}

// background of restaurant list
.home-body {
    background-color: $base-color;
    border-radius: 5vw 5vw 0 0;
    padding: 5% 25% 0 25%;
    width: 70vw;
    max-width: 1000px;
    margin-top: 2em;
    overflow: scroll;
}

// eggcellent brand name
.title-wrapper {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

// side bar
.menu {
    width: 20vw;
    margin-top: 1em;
}