$accent-color: #FF8C67;

h1,
h2,
{
font-family: 'Imprima', sans-serif;
color: #363636;
}

h1 {
    font-size: 26px;
    margin: 0.5em;
}

.title {
    color: #FFB94F;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 12px;
    text-transform: uppercase;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #363636;

}